{% extends 'admin.html.twig' %}

{% block title %}Ajouter un site{% endblock %}
{% block elementTitle %}Editer un site{% endblock %}

{% block body %}



    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card" style="height: auto;">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-form">Editer</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>

                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>Lorem ipsum</p>
                            </div>

                            {{ form_start(form) }}
                            {{ form_row(form.name) }}
                            {{ form_row(form.logo) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.home) }}
                            {{ form_row(form.language) }}

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">
                                    <i class="la la-check-square-o"></i> Mettre à jour le site
                                </button>
                            </div>

                            {{ form_end(form) }}




                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </div>




    </section>

{% endblock %}

